<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>End User Support Perfomance Dashboard</title>
    <meta name="description" content="The HTML5 Herald">
    <link rel="shortcut icon" type="image/png" href="~/favicon.ico" />
    <script type="text/javascript" src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/d3.v3.min.js"></script>
    <script type="text/javascript" src="~/Scripts/uvcharts.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <link rel="stylesheet" href="~/Content/animate.min.css">
    <link href="~/Content/styles.less" rel="stylesheet" />
</head>
@RenderBody()
